.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid var(--gray-1);
  border-radius: 8px;
  color: var(--dark-gray-1);
  text-decoration: none;
}

.image {
  width: 100%;
}

.title {
  margin-block-start: 1em;
}
