.slides {
  --card-width: calc(100% / 3);
  list-style: none;
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 33.333% 33.333% 33.333%;
  column-gap: 24px;
  row-gap: 24px;
}
.slide {
  grid-row-start: 0;
  grid-row-end: 1;
  place-self: center;
}
