.slides {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.slide {
  width: calc(33.3333% - 32px);
  margin-inline-start: 16px;
}

.slide:nth-child(3n) {
  margin-inline-start: 0;
}
