:root {
  --primary-color: #6450a1;
  --black: #3e3e3e;
  --vivid-purple: #542ebd;
  --blue: #6c92ff;
  --dark-gray-1: #5e5e5e;
  --gray-1: #cecece;
  --gray-2: #fcfcfc;
  --gray-3: #efefef;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}
